<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text"
                [value]="nome"
                (input)="nome = $any($event.target).value"
            />

            <input type="text"
                [ngModel]="nome"
                (ngModelChange)="nome = $event"
            />
            
            <input type="text" [(ngModel)]="nome"> <!-- Two Way Data Binding -->
            <br>
           <p> Nome: {{ nome }}</p>
            
        </div>

        <div>
            <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade</p>

            <input type="text" bindon-ngModel="pessoa.nome"/>
            <input type="text" [(ngModel)]="pessoa.idade"/>
        </div>
    </article>
</section>